---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">
        {{ content }}
    </div>

    <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    <!--PC版-->
    <div id="SOHUCS" sid="loveyunk"></div>
    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
    <script type="text/javascript">
        window.changyan.api.config({
            appid: 'cys9nUSqC',
            conf: 'prod_b6f041a713dae4941c86d931c61d50e6'
        });
    </script>


    {% include disqus.html %}
</article>
